/*body {*/
/*    background-color: black;*/
/*}*/


/*.btn {*/
/*    background-color: beige;*/
/*    border-radius: 10px;*/
/*    font-size: 12px;*/
/*}*/


/*.box {*/
/*    float: left;*/
/*    padding-right: 30px;*/

/*}*/


/*.user-box {*/
/*    border: 1px solid black;*/
/*    padding: 30px;*/
/*    float: right;*/
/*}*/


/*.username {*/
/*    color: whitesmoke;*/
/*}*/


/*.title-box {*/
/*    border: 1px solid black;*/
/*    padding: 1px;*/
/*    float: left;*/
/*}*/


/*.title-box > title {*/
/*    color: cornflowerblue;*/
/*    transition: color 0.5s ease-in-out;*/
/*    position: fixed;*/
/*    top: 0;*/

/*}*/


/*.title {*/
/*    color: cornflowerblue;*/
/*    transition: color 0.5s ease-in-out;*/
/*}*/


/*.sub-title-box {*/
/*    border: 1px solid black;*/
/*    padding: 10px;*/
/*}*/


/*.sub-title-box > sub-title {*/
/*    color: cornflowerblue;*/
/*    transition: color 0.5s ease-in-out;*/
/*    position: fixed;*/
/*    left: 3em;*/
/*    font-size: 12px;*/
/*}*/


/*.sub-title {*/
/*    color: cornflowerblue;*/
/*    transition: color 0.5s ease-in-out;*/
/*}*/


/*.titleClicked {*/
/*    color: #BCFF87;*/
/*}*/


/*.subTitleClicked {*/
/*    color: #BCFF87;*/
/*}*/


/*.user-box > search-input-box {*/
/*    border: 1px solid black;*/
/*    padding: 10px;*/
/*    float: right;*/
/*}*/


/*.user-box > search-input-box > search-box {*/
/*    position: fixed;*/
/*    float: left;*/
/*}*/


/*.search-box {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*}*/


/*.input-search {*/
/*    background-color: beige;*/
/*    border-radius: 10px;*/
/*    float: left;*/
/*    width: 100%;*/
/*    margin-right: 1em;*/
/*}*/

/*.user-box > login-box {*/
/*    position: fixed;*/
/*}*/


/*.main-photo-container {*/
/*    width: auto;*/
/*    height: auto;*/
/*    max-height: 600px;*/
/*    max-width: 2000px;*/
/*    margin-top: 1em;*/
/*}*/


/*.main-photo {*/
/*    background-size: cover;*/
/*    width: 100%;*/
/*    height: 400px;*/
/*}*/


/*.login {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*}*/

/*========================================================================================== 집도중 */

#mobile-navbar,
.search-mobile,
.mobile-search-box {
    display: none;
}

@media only screen and (max-width: 1400px) {
    header .left-header nav,
    header .left-header .kids,
    header .left-header .bars .dropdown,
    header .right-header .search-form,
    header .right-header .user-login {
        display: none;
    }

    #mobile-navbar {
        display: flex;
        width: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.418);
        color: #fff;
        z-index: 999999;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    #mobile-navbar .nav-left {
        width: 80%;
        background-color: #131b2b;
    }

    #mobile-navbar .nav-left .login-box {
        position: relative;
        width: 100%;
        padding: 20px;
    }

    #mobile-navbar .nav-left .login-box h1 {
        font-size: 22px;
    }

    #mobile-navbar .nav-left .login-box h3 {
        color: gray;
        font-weight: normal;
        font-size: 17px;
    }

    #mobile-navbar .nav-left .login-box .fa-angle-right {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        font-size: 30px;
    }

    #mobile-navbar .nav-left .hr {
        width: 100%;
        height: 1px;
        background-color: rgb(68, 68, 68);
    }

    #mobile-navbar .nav-left .kids-safe-box {
        width: 100%;
        position: relative;
    }

    #mobile-navbar .nav-left .kids-safe-box .kids-logo {
        padding: 20px;
    }

    #mobile-navbar .nav-left .kids-safe-box .kids-logo img {
        width: 120px;
    }

    #mobile-navbar .nav-left .kids-safe-box .toggler {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
    }

    #mobile-navbar .nav-left .kids-safe-box .toggler .toggle-box {
        width: 60px;
        height: 30px;
        background-color: #161616;
        border-radius: 20px;
        border: 1px groove #fff;
        cursor: pointer;
    }

    #mobile-navbar .nav-left .kids-safe-box .toggler .toggle-box .circle {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #f1f1f1;
        position: relative;
        transition: all 0.2s ease;
    }

    #mobile-navbar .nav-left .nav-ul ul li {
        margin: 20px 0;
        display: block;
    }

    #mobile-navbar .nav-left .nav-ul ul li a {
        display: block;
        padding: 20px;
        font-weight: normal;
    }

    #mobile-navbar .nav-left .nav-ul ul li a:hover {
        background-color: #0c111b;
    }

    #mobile-navbar .nav-left .watch-list {
        padding: 20px;
    }

    #mobile-navbar .nav-left .watch-list a {
        font-weight: normal;
        font-size: 20px;
    }

    #mobile-navbar .nav-right {
        width: 20%;
        height: 100vh;
    }

    .search-mobile {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 20px;
    }

    header .right-header .btn1 a {
        padding: 5px 10px;
        margin-right: 75px;
        font-size: 12px;
    }

    header .left-header .brand a img {
        width: 130px;
    }

    header .left-header .bars .fa-bars {
        padding: 5px;
    }

    .search-mobile .mobile-search-icon {
        display: block;
        position: relative;
        right: 40px;
        top: 1px;
        cursor: pointer;
        padding: 10px;
    }

    .mobile-search-box {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: #141b29;
        z-index: 99999;
        overflow: hidden;
    }

    .mobile-search-box .search-input-box {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .mobile-search-box .search-input-box form .mobile-input-search {
        width: 100%;
        height: 50px;
        outline: none;
        border: none;
        background-color: #0c111b;
        padding: 10px 80px;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 22px;
        color: rgb(177, 177, 177);
    }

    .mobile-search-box .search-input-box form .mobile-input-search::placeholder {
        color: #dddddd;
    }

    .mobile-search-box .search-input-box form .fa-arrow-left {
        position: absolute;
        left: 30px;
        top: 33%;
        color: rgb(177, 177, 177);
        cursor: pointer;
    }

    .mobile-search-box .search-input-box form .btn-moblie-times-reset .fa-times {
        position: absolute;
        right: 30px;
        top: 33%;
        color: rgb(177, 177, 177);
        cursor: pointer;
        font-size: 20px;
    }

    .mobile-search-box .content-search-box-mobile {
        width: 100%;
        text-align: center;
        margin-top: 70%;
    }

    .mobile-search-box .content-search-box-mobile h1 {
        font-size: 20px;
        font-weight: normal;
        color: rgb(177, 177, 177);
    }
}

#home .thumbnail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 90px;
}

#home .thumbnail .box {
    position: relative;
    width: 200%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
}

#home .thumbnail .box img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    filter: brightness(1.2);
}

#home .thumbnail .box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
    filter: brightness(1.2);
}

#home .thumbnail .box:hover video {
    z-index: 1;
    transform: scale(1.1);
}

#home .thumbnail .box:hover {
    transition: all .5s ease;
    transform: scale(1.1);
}

@media only screen and (max-width: 850px) {
    #home .thumbnail {
        flex-wrap: wrap;
    }

    #home .thumbnail .box {
        width: 40%;
        height: 150px;
        margin: 20px;
    }
}

@media only screen and (max-width: 650px) {
    #home .thumbnail {
        padding: 30px;
    }

    #home .thumbnail .box {
        width: 40%;
        height: 100%;
        margin: 10px;
    }
}

#home .recomandations {
    width: 100%;
    padding: 30px 100px;
}

#home .recomandations a {
    padding: 20px 0;
    font-size: 40px;
}

#home .recomandations a:hover {
    color: rgb(58, 150, 255);
}

#home .recomandations .glide-c .glide__track .glide__slides .glide__slide {
    width: max-content;
    height: max-content;
    border-radius: 10px;
    background: #000;
    position: relative;
    transition: all .5s ease;
    overflow: hidden;
}

#home .recomandations .glide-c .glide__track .glide__slides .glide__slide .card .image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#home .recomandations .glide-c .glide__track .glide__slides .glide__slide .card .title-card {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    z-index: 2;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.89), rgba(8, 9, 24, 0.89));
    visibility: hidden;
}

#home .recomandations .glide-c .glide__track .glide__slides .glide__slide .card .title-card h2 {
    font-size: 17px;
    padding: 50% 0;
    font-family: 'Poppins';
    font-weight: 600;
}

#home .recomandations .glide-c .glide__track .glide__slides .glide__slide .card:hover .title-card {
    visibility: visible;
    top: 0;
    padding: 10px;
    transition: all .3s ease;
}

#home .recomandations .glide-c .glide__track .glide__slides .glide__slide:hover {
    transform: scale(1.2);
    transition: all .5s ease;
}

#home .recomandations .glide-c {
    position: relative;
    margin-top: 30px;
}

#home .recomandations .glide-c .glide__arrow--left {
    position: absolute;
    left: 0;
}

#home .recomandations .glide-c .glide__arrow--left {
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 650px) {
    #home .recomandations {
        width: 100%;
        padding: 30px;
    }

    #home .recomandations a {
        font-size: 25px;
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-align: center;
    background: #000;
    padding: 30px;
    flex-wrap: wrap;
}

#search {
    width: 100%;
    margin-top: 100px;
    min-height: 100vh;
}

#search h1 {
    padding: 30px 60px;
    color: rgb(177, 177, 177);
}

#search h1 span {
    font-style: italic;
    font-family: "Poppins";
    font-weight: normal;
}

#search .cards-results {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 60px;
    flex-wrap: wrap;
}

#search .cards-results a {
    width: max-content;
    height: max-content;
    overflow: hidden;
    position: relative;
    margin: 30px;
}

#search .cards-results a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#search .cards-results a h2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    transition: all .5s ease;
}

#search .cards-results a:hover h2 {
    visibility: visible;
    top: 0;
    transition: all .5s ease;
}