.card-box {
    border: 1px solid black;
    padding: 100px;
    overflow-x: scroll;
    white-space: nowrap;
}


.recommend-list {
    display: inline-block;
    width: 200px;
    height: 400px;
    color: white;
}

