
body {
    height: 100%;
    margin: 0;
}

#modal {
    width: 100%;
}

#modal-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none;
}

#modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #0c111b;
    margin-top: 10%;
}

#modal-content-top {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-position: center;
    background-size: cover;

    opacity: 0.8;
}

#modal-content-top-left {
    width: 30%;
}

#modal-content-top-left .drink-title {
    margin: 5% 3%;
    color: black;
    font-size: 3vw;
}

#modal-content-top-left .drink-desc {
    margin: 5% 3%;
    color: black;
}

#modal-content-top-right {
    width: 80%;
}

#modal-content-top-right button {
    float: right;
    color: black;
    width: 5%;
}

#modal-content-bottom::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

#modal-content-bottom::-webkit-scrollbar-track {
    background-color: #131b2b;
}

#modal-content-bottom::-webkit-scrollbar-thumb {
    background-color: white;
}

#modal-content-bottom {
    width: 100%;
    height: 50%;
    overflow: auto;
}

#modal-content-bottom-title {
    height: 15%;
}

#modal-content-bottom-title p {
    font-size: 2vw;
    padding: 1% 0;
    margin-left: 3%;
}

#modal-content-bottom-title hr {
    width: 94%;
    margin: auto;
}

#modal-recommend-container {
    height: 100%;
}

.food-item {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.food-item-holder {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
    background-color: #999999;
    margin: 2.3%;
    height: 14vw;
    border-radius: 10px;
}
