<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar">
    <div class="title-box">
    <div class="title">
        <h1>Drink Plus</h1>
    </div>
</div>
<div class="user-box">
    <div class="search-input-box box">
        <form action="/search/" method="post">
            {% csrf_token %}
            <div class="search-box">
                <div>
                    <input type="text" name="query" placeholder="당신의 술을 검색해주세여" class="input-search">
                </div>
                <div>
                    <button type="submit" id="search-btn" class="btn">검색</button>
                </div>
            </div>
        </form>
    </div>
    <div class="login-box box">
        <form action="/sign-in/">
            {% if not user.is_authenticated %}
                {% csrf_token %}
                <div>
                    <div class="login">
                        <button class="btn">로그인하기</button>
                    </div>
                </div>
            {% else %}
                <div>
                    <div class="login">
                        <div>
                            <p class="username"> {{ user.username }}님 </p>
                        </div>
                        <div>
                            <a class="btn" href="/logout/">로그아웃</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
</div>
</nav>
{% block content %}

{% endblock %}
<script>
    // 로그인 페이지에서 navbar가 보이지 않도록 함
    if ( window.location.pathname == '/sign-in/' ) {
        document.write( '<style>.navbar{display:none !important;}</style>' );
    }
    // 로그인 페이지에서 배경화면 black 적용을 하지 않도록 함
    if ( window.location.pathname == '/sign-in') {
        document.write( '<style> body{background-color: white !important;}</style>');
    }

    // var 오류로 const로 수정
    const x = document.getElementById("login");
    const y = document.getElementById("register");
    const z = document.getElementById("btn");


    function login() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0";
    }

    function register() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "110px";
    }
    const title = document.querySelector(".title");
    const subTitle = document.querySelector(".sub-title");


    function TitleClick() {
        title.classList.toggle("titleClicked");
    }
    function subTitleClick() {
        subTitle.classList.toggle("subTitleClicked");
    }

    title.addEventListener("click", TitleClick);
    subTitle.addEventListener("click", subTitleClick);
</script>

</body>
</html>