{% extends 'base.html' %}
{% block title %}Drink_plus{% endblock %}
{% block content %}

    <div class="main-photo-container">
        <img class="main-photo" src="https://drinkplus.s3.ap-northeast-2.amazonaws.com/uploads/20220129/w.gif">
    </div>
    <div class="sub-content">
        <div class="sub-title-box">
            <div class="sub-title">SoolGoritm</div>
        </div>
        <ul class="card-box">
                <li class="recommend-list">
                    <h3>{{ title_json }}</h3>
                </li>
        </ul>
    </div>
    <script src="static/js/main.js"></script>

{% endblock %}
