{% extends 'base.html' %}
{% block title %}Drink_plus{% endblock %}
{% block content %}
<div>
    <ul class="result-box">
        <li class="search-list">첫번째</li>
        <li class="search-list">두번째</li>
        <li class="search-list">세번째</li>
        <li class="search-list">네번째</li>
        <li class="search-list">다섯번째</li>
        <li class="search-list">여섯번째</li>
        <li class="search-list">일곱번째</li>
        <li class="search-list">여덟번째</li>
    </ul>
</div>
<script src="static/js/search.js"></script>
{% endblock %}